<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Telegram auth</title>
</head>

<body>
    <script async src="https://telegram.org/js/telegram-widget.js?7" data-telegram-login="{{ bot_username }}" data-size="large" data-radius="0" data-auth-url="{{ url }}" data-request-access="write"></script>
</body>

</html>